 <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

<footer class="text-center text-black fixed-bottom" style="background-color: #99B898;">
 
  <!-- Copyright -->
  <div class="text-center p-3">
    © 2021 Copyright: Janarthani V Subramaniam
  </div>
  <!-- Copyright -->
</footer>