<form>
    
    <!-- Text input -->
    <div class="form-outline mb-4">
        <input name="blog_title" type="text" id="form6Example3" class="form-control" />
        <label class="form-label" for="form6Example3">Blog Post Title</label>
    </div>

    <!-- Message input -->
    <div class="form-outline mb-4">
        <textarea name="blog_content" class="form-control" id="form6Example7" rows="4"></textarea>
        <label class="form-label" for="form6Example7">Post content</label>
    </div>

    <!-- Submit button -->
    <button id="create-blog" type="submit" class="btn btn-dark btn-block mb-4">Create Post</button>

</form>

<script src="/script/add-blog.js"></script>