<div class="container-fluid me-4 p-4 d-flex justify-content-center">
    <form class="col-8">

        <!-- Text input -->
        <div class="form-outline mb-4">
            <input name="post_title" type="text" id="form6Example3" class="form-control" />
            <label class="form-label" for="form6Example3">Post Post Title</label>
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
            <textarea name="post_content" class="form-control" id="form6Example7" rows="4"></textarea>
            <label class="form-label" for="form6Example7">Content</label>
        </div>

        <!-- Submit button -->
        <button id="create-post" type="submit" class="btn btn-dark btn-block mb-4">Create Post</button>

    </form>

</div>

<script src="/script/add-post.js"></script>