<div class="container-fluid p-2 m-2 d-flex flex-column align-self-center">
    <div class="container d-flex">
        <button id="addblog" type="button" class="btn btn-dark btn-lg">Add New Post</button>
    </div>

    {{#if blogs}}
    {{#each blogs}}
    <div class="container d-flex">
        <div class="row border border-dark">
            <div class="col-12 p-2 text-white bg-dark d-flex justify-content-between align-items-baseline">
                <a class="fw-lighter p-2 text-white">{{blog_title}}</a>
                <button type="button" class="btn btn-dark btn-floating"><i class="fab fa-mdb"></i></button>
                <button type="button" class="btn btn-dark btn-floating"><i class="far fa-trash-alt"></i></button>
            </div>
            <div class="col-12 p-2 justify-content-center"><p>{{blog_contents}}</p></div>
        </div>
    </div>

    <div class="container d-flex">
        <div class="row p-2">
            <div class="col-12 p-2 justify-content-center">
                <h6 class="fw-lighter fst-italic">Blog <b>{{blog_title}}</b> has {{comments.length}} comment(s)</h6>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}

</div>

<script src="/script/add-blog.js"></script>