<div class="container-fluid">
    <form style="height:20rem; width:15rem;" class="position-absolute top-50 start-50 translate-middle border border-dark p-10 m-10">

        <!-- Username input -->
        <div class="form-outline m-4">
            <input type="email" id="form1Example1" class="form-control username-signup" />
            <label class="form-label" for="form1Example1">User Name</label>
        </div>

        <!-- Email input -->
        <div class="form-outline m-4">
            <input type="email" id="form1Example2" class="form-control email-signup" />
            <label class="form-label" for="form1Example2">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline m-4">
            <input type="password" id="form1Example3" class="form-control password-signup" />
            <label class="form-label" for="form1Example3">Password</label>
        </div>
        <!-- Submit button -->
            <button id="signupbtn" type="submit" style="width:13rem;" class="btn btn-dark btn-block mt-4 ms-3 p-2">Sign Up</button>
    </form>
</div>

<script src="/script/login.js"></script>